{% extends "base.html" %}
{% block title %}投稿一覧{% endblock %}

{% block content %}
<div class="">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Text</th>
                <th scope="col">Date Time</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in page_obj %}
            <tr>
                <a href="">
                    <th scope="row">{{ obj.id }}</th>
                    <td class="col-3">{{ obj.contributor }}</td>
                    <td class="col-5">{{ obj.post_text | linebreaksbr | truncatechars:30 }}</td>
                    <td class="col-3">{{ obj.created_at }}</td>
                    <td class="col-2"><a class="btn btn-primary" href="{% url 'post:post_detail' obj.pk %}">詳細</a></td>
                </a>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation">
    {% if page_obj.has_other_pages %}
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">最初</a></li>
        {% else %}
        <li class="page-item disable"><span class="page-link text-secondary">最初</span></li>
        {% endif %}

        {% if page_obj.number|add:'-2' > 1 %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-2' }}">&hellip;</a></li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }}<span class="visually-hidden"></span></li>
        {% elif i > page_obj.number|add:'-2' and i < page_obj.number|add:'2' %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
        <li><a class="page-link" href="?page={{ page_obj.number|add:'2' }}">&hellip;</a></li>
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        <li><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
        {% endif %}

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">最後</a></li>
        {% else %}
        <li class="page-item disable"><span class="page-link text-secondary">最後</span></li>
        {% endif %}
    </ul>
    {% endif %}
</nav>
{% endblock %}
