<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'accounts:home' %}">タイトル</a>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:profile_detail' pk=user.pk %}">
                    {% if user.profile.username %}
                    {{ user.profile.username }}
                    {% else %}
                    {{ 'ユーザー' }}
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post:post_list' %}">投稿一覧</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post:new_post' %}">新規投稿</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:logout' %}">ログアウト</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="#">ゲスト</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post:post_list' %}">投稿一覧</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:regist' %}">ユーザー登録</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}">ログイン</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
